/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  
      width: 100%;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3,
h4{
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  width: 100%;
}

ol{text-align: left;
  width: fit-content;
  margin: 0 auto;
  padding-left: 0;
  transform: translatex(-50%);
}

ul{text-align: left;
    width: fit-content;
    margin: 0 auto;
    padding-left: 0;
    transform: translatex(-10%);
 }
li {
  text-align: left; 
  margin-bottom: 10px;
}

article {

  text-align: center;
  line-height: 1.5;
  padding: 20px;

}

 



article div {
  text-align: center;
  width: 100%;
    padding:40PX;
}

p {
  line-height: 1.5;
  text-align: center;
    padding: auto;
  width: 100%;
}


div {
  margin: 0 auto;
  width: 600px;
text-align: center;

}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: auto;
}

nav{
  text-align: center;
margin-bottom: 20px;
}

a:link { color: #d62828; }
a:visited { color:#d62828; }
a:hover{color:#f77f00; }
        
  

hr {
  border: 1px solid black;
}



.image-circle {
  border-radius: 50%;
            border: 1px solid #003049;
            width: 200px;
            height: 200px;
             object-fit: cover;
          }
h4, footer {
  text-align: center;
}
