/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");


body {background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
      text-align: centered-left;
      margin: 0;
}

/* Set the font family for any h1, h2, or h3 heading */
h1{
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  margin: 0 auto;
  font-size: 55px;
}
h2{
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  margin: 0 auto;
  font-size: 35px;
}
h3{
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  margin: 0 auto;
  font-size: 25px;
}

ol{text-align: left-center;
  width: fit-content;
  margin-left: 30%;
  padding-left: 0;
   transform: translatex(-30%);
display: block;
}

ul{text-align: left-center;
    width: fit-content;
   margin-left: 25%;
  


 }

li {
  text-align: center; 
  margin-bottom: 10px;
}

article {

  text-align: center;
  line-height: 1.5;
  padding: 50px 0;
  margin: 0 auto;

}





article div {
text-align: center;
  width: 100%;
  margin: 0 auto;
}

p {
  margin: 0 auto;
   line-height: 1.5;
  text-align: left;
    padding: auto;
  width: 600px;
}


div {
  margin: auto;
  width: 100%;
 
}
img{
width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  height: auto;
}
nav{
  text-align: center;
margin-bottom: 20px;
}

a:link { color: #d62828; }
a:visited { color:#d62828; }
a:hover{color:#f77f00; }



hr {
  border: 1px solid black;
}



.image-circle {
  border-radius: 50%;
            border: 1px solid #003049;
            width: 200px;
            height: 200px;
             object-fit: cover;
          }
h4, footer {
  text-align: center;
  margin: 0 auto;
}
  
